# Core
torch
torchvision
numpy
pandas
scipy

# Training / search
optuna
tqdm
scikit-learn

# Medical segmentation / metrics
monai
torchmetrics
thop
scikit-image

# Data / augmentation
albumentations
opencv-python-headless
matplotlib

# Model dependencies
einops
ml-collections
segment-anything
peft

# Utilities
PyYAML
