albumentations
einops
matplotlib
monai
numpy
opencv-python
opencv-python-headless
optuna
pandas
PyYAML
scikit-learn
scikit-image
thop
torch
torchvision
torchmetrics
ml-collections
segment-anything
peft
scipy
